/* color 

main-2: #0D203C
main-dark: #061429
main: #132B50
gold: #EAC170

*/

*,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Lato', sans-serif !important;
}

.logo-nav{
    height: 40px;
}

.logo-foot{
    width: 80%;
}

#topnav .navigation-menu>li>a{
    padding-left: 5px;
    padding-right: 5px;
}

#topnav .navigation-menu .has-submenu .menu-arrow{
    right: -10px;
    top: 32px;
}

#topnav .navigation-menu>.has-submenu:hover .menu-arrow{
    top: 35px !important;
}

.bg-utama{
    background-size: cover !important;
}

.judul-utama{
    font-size: 42px;
    line-height: normal;
}

.top-judul-utama{
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    font-style: italic;
}

.hr-judul-utama{
    width: 35px;
    border-width: 2.5px;
    border-color: #EAC170;
    margin: 7px auto 0px 0;
}

.custom-shape-divider-bottom-1607944580 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
}

.custom-shape-divider-bottom-1607944580 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 58px;
}

.custom-shape-divider-bottom-1607944580 .shape-fill {
    /* fill: #FFFFFF; */
    fill: #f8f9fc;
}

.mover {
    -webkit-animation: mover 1s infinite alternate;
            animation: mover 1s infinite alternate;
  }
  
  @-webkit-keyframes mover {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(5px);
              transform: translateY(5px);
    }
  }
  
  @keyframes mover {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(5px);
              transform: translateY(5px);
    }
  }
 
 @keyframes fadein {
     from { opacity: 0; }
     to   { opacity: 1; }
 }
 
 /* Firefox < 16 */
 @-moz-keyframes fadein {
     from { opacity: 0; }
     to   { opacity: 1; }
 }
 
 /* Safari, Chrome and Opera > 12.1 */
 @-webkit-keyframes fadein {
     from { opacity: 0; }
     to   { opacity: 1; }
 }
 
 /* Internet Explorer */
 @-ms-keyframes fadein {
     from { opacity: 0; }
     to   { opacity: 1; }
 }
 
 /* Opera < 12.1 */
 @-o-keyframes fadein {
     from { opacity: 0; }
     to   { opacity: 1; }
 }
 
 .hide-mobile {
     display: block;
 }
 
 .hide-pc {
     display: none;
 }

 
 .btn-primary, .btn-soft-primary, .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.focus, .btn-outline-primary:not(:disabled):not(.disabled):active{
     box-shadow: 0 3px 5px 0 #00000024;
 }

.bg-overlay{
    background: linear-gradient(180deg, #132b5070 0%, #000000a4 100%)
}

.sticky-bar{
    top: 100px
}

#preloader #status .spinner{
    width: 100px;
    height: 100px;
}

#topnav .navigation-menu.nav-light>li>a{
    color: rgba(255, 255, 255, 0.75);
}

.kontak-konten{
    margin-bottom: 75px;
}

.readmore:hover{
    color: black;
}

.judul-peng{
    width: 80%;
}

.tgl-peng{
    width: 20%;
}

.img-peng{
    width: 15%;
}

.ket-peng{
    width: 85%;
}

.avatar.avatar-md-sm{
    width: 100%;
    height: auto;
}

.kontennya img{
    width: 100% !important;
    height: auto;
}

.kontennya iframe{
    width: 100% !important;
}

.kontennya video{
    width: 100% !important;
    height: auto;
}

.sidebar .widget .post-recent.pengumumannya .post-recent-thumb{
    width: 10%;
}

.sidebar .widget .post-recent.pengumumannya .post-recent-content{
    width: 90%;
}

.aktip-kategori{
    color: #EAC170 !important;
}







 /* Smartphone */
 @media screen and (max-width: 600px) {
     .hide-mobile {
         display: none;
     }
 
     .hide-pc {
         display: block;
     }

     .judul-utama{
        font-size: 25px;
    }

    .hr-judul-utama{
        margin: 2px auto 5px 0;
    }

    .top-judul-utama{
        font-size: 15px;
    }

    #topnav .navigation-menu{
        padding: 10px;
    }

    .logo-foot{
        width: 100%;
    }
    
    .features .title, .key-feature .title{
        font-size: 15px !important;
    }

    .kontak-konten{
        margin-bottom: 25px;
        padding: 0 15px;
    }

    #topnav .navigation-menu.nav-light>li>a{
        color: #202942;
    }

    #topnav .navigation-menu>li .submenu{
        padding-left: 0px;
    }

    .judul-peng{
        width: 100%;
    }
    
    .tgl-peng{
        width: 100%;
        background: rgba(234, 193, 112, 0.2);
        padding: 2px 10px;
        border-radius: 5px;
        margin: 5px 0;
    }
    .tgl-peng .text-muted{
        color: rgba(32, 41, 66, 0.7) !important;
    }
    .img-peng{
        width: 20%;
    }
    
    .ket-peng{
        width: 80%;
    }
    
 }


 /* Smartphone */
 @media screen and (max-width: 360px) {
     .hide-mobile {
         display: none;
     }
 
     .hide-pc {
         display: block;
     }

     .top-judul-utama{
         font-size: 15px;
     }

     .judul-utama{
        font-size: 20px;
    }

    .logo-nav {
        height: 35px;
    }
    
    .features .title, .key-feature .title{
        font-size: 12px !important;
    }

 }


