.mover {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
}

@keyframes mover {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hide-mobile {
    display: block;
}

.hide-pc {
    display: none;
}

.img-overlay-login {
    position: absolute;
    opacity: .05;
    z-index: -1;
    bottom: -100px;
    right: -100px;
    width: 350px;
}

#page-container.sidebar-inverse #sidebar,
.sidebar-inverse #sidebar .nav-main li.open>ul {
    background-color: #202942;
}

#page-container.sidebar-inverse #sidebar .content-side-user {
    background-color: #19233e;
}

.nav-main li.open>a.nav-submenu>i,
.sidebar-inverse #sidebar .nav-main li.open>a.nav-submenu>i,
.nav-main a.active>i,
.nav-main a:focus>i,
.nav-main a:hover>i,
.sidebar-inverse #sidebar .nav-main a.active>i,
.sidebar-inverse #sidebar .nav-main a:focus>i,
.sidebar-inverse #sidebar .nav-main a:hover>i {
    color: #c8a462;
}

/* .css-switch.css-control-success .css-control-input:checked~.css-control-indicator {
    background-color: #c8a462;
} */

.card,
.block {
    border-radius: 10px;
    overflow: hidden;
}

.content-heading {
    color: #202942b3;
    font-weight: 600;
}

#page-container.sidebar-inverse #sidebar
/* ,.sidebar-inverse #sidebar .nav-main li.open>ul */
{
    border-radius: 25px;
    margin: 10px 0 10px 10px;
    box-shadow: 0px 0px 20px 5px #0000001f;
}

.content-side {
    padding: 28px 28px 1px;
}

.modal-dialog .modal-content .block {
    border-radius: 0;
}

.o-all {
    width: 700px;
    position: fixed;
    bottom: -200px;
    right: -200px;
    opacity: .025;
    z-index: -1000;
    filter: grayscale(1);
}


.tembel{
    background: white;
    position: absolute;
    top: -5px;
    left: -225px;
    z-index: 34;
    width: 250px;
    height: 67px;
}


.load-back{
    background: #000000e8;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1034;
    /* backdrop-filter: blur(20px); */
}

#preloader #status {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 999;
}
#preloader #status .spinner {
    width: 100px;
    height: 100px;
    z-index: 999;
}
#preloader #status .spinner {
    width: 110px;
    height: 110px;
    position: relative;
    margin: 100px auto;
    z-index: 999;
}

.oy-hid{
    overflow-y: hidden;
}


#sidebar{
    width: 270px;
}

#page-container.sidebar-o{
    padding-left: 270px;
}










/* Smartphone */
@media screen and (max-width: 600px) {
    .hide-mobile {
        display: none;
    }

    .hide-pc {
        display: block;
    }

    .img-overlay-login {
        position: absolute;
        opacity: .05;
        z-index: -1;
        bottom: -100px;
        right: -100px;
        width: 350px;
    }

    #page-container.sidebar-inverse #sidebar
    /* ,.sidebar-inverse #sidebar .nav-main li.open>ul */
    {
        border-radius: 0 0 0 0;
        margin: 0;
        box-shadow: unset;
    }

    #sidebar{
        width: 100%;
    }

}

/* Smartphone */
@media screen and (max-width: 360px) {
    .hide-mobile {
        display: none;
    }

    .hide-pc {
        display: block;
    }
}