.text-white {
  color: #fff;
}

footer.dark-footer {
  background: #252c41;
}

.skin-dark-footer .footer-bottom {
  background: #161a27;
  border-top: none;
}

nav.navbar.bootsnav {
  background-color: #252c41;
  border-bottom: 1px solid #252c41;
  transition: background-color 0.3s ease;
}

[data-overlay]:before {
  position: absolute;
  content: "";
  background: #252c41;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.inner-header-title {
  padding-top: 10em;
  text-align: center;
  color: #fff;
  overflow: visible;
  position: relative;
  background-size: cover;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-header-title.lembaga-header {
  background: #252c41;
  height: 560px;
  margin-bottom: -250px;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.inner-header-title.lembaga-header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}
.inner-header-title.lembaga-header span {
  font-size: 22px;
}
@media only screen and (max-width: 559px) {
  .inner-header-title.lembaga-header {
    margin-bottom: -200px;
    height: 400px;
  }
  .inner-header-title.lembaga-header h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .inner-header-title.lembaga-header span {
    font-size: 10px;
  }
}
.inner-header-title:before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  opacity: 0.6;
}

/*----common------------*/
.inverse-bg .app-content a.btn.call-btn.gps {
  color: #caca16;
}

.inverse-bg .app-content a.btn.call-btn:hover,
.inverse-bg .app-content a.btn.call-btn:focus {
  color: #caca16 !important;
}

.app-content a.btn.call-btn {
  background: #caca16;
  border: 1px solid #caca16;
}

.app-content a.btn.call-btn:hover,
.app-content a.btn.call-btn:focus {
  background: #0ba212;
  border: 1px solid #caca16;
}

.client-testimonial .pic {
  border-bottom: 2px solid #caca16;
}

.pr-header.active {
  background: #caca16;
}

.flt-change-layout a.active {
  background: rgba(7, 177, 7, 0.1);
  color: #caca16;
}

.theme-cl,
.input-with-icon .theme-cl {
  color: #caca16;
}

.theme-bg,
.theme-bg:hover,
.theme-bg:focus {
  background: #caca16 !important;
  border-color: #caca16 !important;
}

button.btn.submit-btn.ft-search {
  background: #caca16;
  border-color: #caca16;
  color: #ffffff;
  height: 60px;
}

.brows-resume.grid-style:hover .br-resume span,
.brows-resume.grid-style:focus .br-resume span {
  background: #caca16;
}

::selection {
  background: #caca16;
  color: #fff;
}

a {
  color: #272f46;
}

.ur-detail-wrap.create-kit,
.ur-detail-wrap.top-lay {
  border-bottom: 3px solid #caca16;
}

.detail-pannel-footer-btn a.footer-btn.choose-cover,
.brows-resume .browse-resume-exp span,
.detail-pannel-footer-btn a.footer-btn.grn-btn,
ul.trim-edu-list li:after {
  background: #caca16;
}

.inner-header-page {
  border-bottom: 2px solid #caca16;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  border: 1px solid #caca16;
  background: #caca16;
}

.btn.btn-primary {
  border: 1px solid #caca16;
  background: #caca16;
}

.category-box .category-desc i {
  color: #caca16;
}

a.btn.call-btn {
  color: #caca16;
}

.pagination li:first-child a {
  background: #caca16;
  border: 1px solid #caca16;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.pagination > li > a:hover,
.pagination > li > a:focus {
  color: #caca16;
  background-color: rgba(7, 177, 7, 0.1);
  border-color: #caca16;
}

.inner-header-title {
  border-bottom: 4px solid #caca16;
}

.inner-header-title.blank {
  border-bottom: 4px solid #caca16;
  background: #caca16;
}

.action-btn .dropdown-menu > li > a:hover,
.action-btn .dropdown-menu > li > a:focus {
  background: #caca16;
  color: #ffffff;
}

/*-------- Navigation ----------*/
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #caca16 !important;
}

/*----------Pages Styles------------*/
.main-heading h2 > span {
  color: #caca16;
}

.main-heading span.heading-line {
  background: #caca16;
}

.banner-caption .btn-primary:focus,
.banner-caption .btn-primary:hover {
  background: #caca16;
  border-color: #caca16;
}

.banner-caption .btn-primary {
  background: #caca16;
  border-color: #caca16;
}

.job-feature:hover i {
  background: #caca16;
}

.feature-icon i {
  color: #caca16;
  background: rgba(7, 177, 7, 0.07);
}

.work-process-icon span {
  color: #caca16;
}

.work-process-caption h4:before {
  background: #caca16;
}

.download-app:before {
  background: #caca16;
}

.app-content a.btn.call-btn:hover {
  color: #caca16;
}

.footer-form .btn-primary:hover,
.footer-form .btn-primary:focus {
  border-color: #10c110;
  background: #caca16;
}

.simple-banner h1 span {
  color: #caca16;
}

.bottom-search-form button.btn.btn-primary {
  background: #caca16;
  border: 1px solid #0bbf0b;
}

a.video-btn:hover i {
  background: #caca16;
}

a.video-btn i {
  color: #caca16;
  box-shadow: 0px 0px 20px 0px rgba(7, 177, 7, 0.4);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(7, 177, 7, 0.4);
  -moz-box-shadow: 0px 0px 20px 0px rgba(7, 177, 7, 0.4);
}

.home-three-banner h1 span {
  color: #caca16;
}

.home-three-banner button.btn.btn-primary {
  background: #caca16;
  border: 1px solid #0bbf0b;
}

.gr-dark {
  background: #caca16;
}

.gr-dark a.btn.bat-call-to-act {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.gr-dark .call-to-act-caption h3 {
  color: rgba(255, 255, 255, 0.7);
}

.home-plane-banner h1 span {
  color: #caca16;
}

a.btn.btn-banner {
  background: #caca16;
}

#accordion .panel-heading > .panel-title > a {
  background: #caca16;
}

#accordion .panel-title > a.collapsed:hover {
  color: #caca16;
}

#accordion3 .panel-heading > .panel-title > a {
  background: #caca16;
}

#accordion .panel-title > a.collapsed {
  background: #e7ecea;
  color: #707c88;
}

#accordion3 .panel-title > a.collapsed {
  background: #35434e;
  color: #707c88;
}

.brows-company:hover {
  border-left: 4px solid #caca16;
}

.brows-job-list:hover {
  border-left: 4px solid #caca16;
}

.brows-resume:hover {
  border-left: 4px solid #caca16;
}

.brows-resume span.brows-resume-designation {
  color: #caca16;
}

.brows-resume .browse-resume-rate span i {
  color: #caca16;
}

.detail-status span {
  color: #caca16;
  background: rgba(7, 177, 7, 0.2);
}

.container.white-shadow {
  border-bottom: 3px solid #caca16;
}

h2.detail-title {
  border-left: 3px solid #caca16;
}

ul.detail-list li:before {
  color: #caca16;
}

.contact-box i {
  color: #caca16;
}

.inputfile + label {
  background: #caca16;
}

.detail-pic {
  border: 1px solid #caca16;
}

.full-detail .input-group-addon {
  background: #caca16;
  border-color: #caca16;
}

button.add-field {
  background: #caca16;
}

.btn-login {
  background: #caca16;
}

button.btn.btn-login {
  background: #caca16;
  border: 1px solid #caca16;
}

.login-screen span a,
.signup-screen span a,
.lost-ps-screen span a {
  color: #caca16;
}

.search-filter button.btn.btn-default {
  background: #caca16;
  border: 1px solid #caca16;
}

.search-filter .dropdown-menu > li > a:hover,
.search-filter .dropdown-menu > li > a:focus {
  background: #caca16;
}

.manage-cndt .cndt-caption span {
  color: #caca16;
}

.manage-cndt .cndt-profile-btn:hover,
.manage-cndt .cndt-profile-btn:focus {
  background: #caca16;
}

.mng-company:hover,
.mng-company:focus {
  border-color: #caca16;
}

.jn-employee:hover,
.jn-employee:focus {
  border-color: #caca16;
}

.employee-social li a:hover i,
.employee-social li a:focus i {
  background: #caca16;
}

.mng-resume h4 span.cand-designation {
  color: #caca16;
}

.mng-resume:hover,
.mng-resume:focus {
  border-color: #caca16;
}

.manage-resume-box:hover,
.manage-resume-box:focus {
  border-left: 3px solid #caca16;
}

.pr-buy-button .pr-btn.active:hover,
.pr-buy-button .pr-btn.active:focus {
  background: #caca16;
  border-color: #caca16;
}

.pr-buy-button .pr-btn {
  border: 1px solid #caca16;
  color: #caca16;
}

.login-panel label {
  color: #caca16;
}

.nav.simple.nav-tabs li.active a {
  background: #caca16;
}

.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:hover {
  background: #caca16;
}

.tab .nav-tabs li a {
  color: #caca16;
}

.tab .nav-tabs li a:hover {
  background: #caca16;
}

.pr-buy-button .pr-btn:hover,
.pr-buy-button .pr-btn:focus {
  background: #caca16;
}

.search-form button.btn.btn-default {
  background: #caca16;
  border: 1px solid #caca16;
}

ul.sidebar-list li a span {
  color: #caca16;
}

.blog-post-date {
  background: #caca16;
}

.post-meta span.author,
.post-meta span.category a {
  color: #caca16;
}

.post-info {
  color: #caca16;
}

.blog-content h2:hover,
.blog-content h2:focus {
  color: #caca16;
}

.comments-form button.thm-btn.btn-comment {
  border: 2px solid #caca16;
  background: #caca16;
}

.comments-form button.thm-btn.btn-comment:hover,
.comments-form button.thm-btn.btn-comment:focus {
  color: #caca16;
  border: 2px solid #caca16;
}

.rating.pull-right li i.active {
  color: #caca16;
}

ul.list-inline.social li i:hover,
ul.list-inline.social li i:focus {
  background: #caca16;
}

.inner-header-title.advance-header-title h2 span,
.inner-header-title.advance-header-title p span {
  color: #caca16;
}

.right-sidebar h2.side-widget-title {
  background: #caca16;
}

button.btn.btn-alrt {
  background: #caca16;
}

.fileUpload span {
  background: #caca16;
}

.modal .submit-btn:hover {
  background: #caca16;
}

.breadcrumb > .active {
  color: #caca16;
}

.custom-checkbox input[type=checkbox]:checked + label:before {
  border-color: #caca16;
  background: #caca16;
}

.bootstrap-select.btn-group .dropdown-menu li a:hover {
  background: #caca16;
}

ul.detail-footer-social li a i:hover {
  background: #caca16;
}

.error-page h2 span {
  color: #caca16;
}

.error-page a.btn.btn-success.small-btn {
  background: #caca16;
  border-color: #caca16;
}

.deatil-tab-employ.tool-tab .nav.simple.nav-tabs li.active a {
  background: rgba(7, 177, 7, 0.15);
  color: #caca16;
  border-color: #caca16;
}

button.update-btn {
  background: #caca16;
}

span.info-bar {
  border: 1px solid #caca16;
  background: rgba(7, 177, 7, 0.15);
  color: #caca16;
}

/*--------Responsive color Style-----------*/
@media only screen and (min-width: 768px) {
  /*------------Navigation------*/
  body nav.navbar.bootsnav ul.nav > li > a.signin {
    background: #caca16 !important;
  }

  li.left-br {
    border-left: 1px solid rgba(7, 177, 7, 0.4);
  }
}
@media only screen and (min-width: 1024px) {
  nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
    border-color: #caca16;
  }
}
.navbar li.dropdown .dropdown-menu {
  animation-duration: 0.3s;
}

.banner {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.banner .container.layanan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  z-index: 20;
}
.banner .container .layanan__item {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 150px;
  height: 150px;
  transition: all 0.5s ease;
  border-radius: 10px;
  cursor: pointer;
}
.banner .container .layanan__item:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.banner .container .layanan__item-icon {
  font-size: 40px;
  margin-bottom: 30px;
}
.banner h1 {
  margin-bottom: 40px;
}
.banner h1 span {
  color: #caca16;
}
.banner.trans {
  height: 100vh;
}

/*# sourceMappingURL=custom.css.map */
