
// Core variables and mixins
@import "<?= base_url()?>assets/bootstrap/functions";
@import "<?= base_url()?>assets/bootstrap/mixins";

// Core variables and mixins overrides
@import "<?= base_url()?>assets/core/variables/variables";
@import "<?= base_url()?>assets/bootstrap/variables";

// Overrides user variable
@import "<?= base_url()?>assets/core/variables/components-variables";

  /*   Form Validation css  */
  /*-----------------------*/  
.form-group{
  &.issue, &.error{
    .help-block, .help-inline{
      /*   when an issue or error occured  */
      color: $danger;
    }
    input, select, textarea{
      border-color: $danger;
    }
    input:focus, select:focus, textarea:focus{
      border-color: $danger;
      -webkit-box-shadow: 0 3 10px 0 $danger;
         -moz-box-shadow: 0 3 10px 0 $danger;
              box-shadow: 0 3 10px 0 $danger;
    }
  }


  //  Validation Message css  
  .help-block ul{
    padding-left: 0;

    li{
      list-style-type: none;
      font-size: 0.875rem;
      padding-top: 0.2rem;
      font-family: $font-family-sans-serif;
      &::before{
        content:"\eb1b";
        position: relative;
        top: 2px;
        font-family: boxicons !important;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        display: inline-block;
        text-transform: none;
      }
    }
  }
}
