// ===============================================================================================
//  File Name: faq.scss
//  Description: FAQ Page Content SCSS
//  ----------------------------------------------------------------------------------------------
//  Item Name: Frest HTML Admin Template
//  Version: 1.0
//  Author: PIXINVENT
//  Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================

@import "../bootstrap/functions";
@import "../bootstrap/mixins";
@import "../bootstrap-extended/mixins";
// Core variables and mixins overrides
@import "../core/variables/variables";
@import "../bootstrap/variables";
@import "../core/variables/components-variables";

/* FAQ page css */
/*--------------*/
.faq-bg{
  /* background image */
  background: url(<?= base_url()?>assets/app-assets/images/pages/faq.png) repeat;
}

.faq-search{
  button{
  /* search button position */
    right: 8px;
    top: 6px;
  }
}

// show content for active slide
.faq{
  .wrapper-content{
    display: none;
    &.active{
      display: block;
    }
  }
}

// Media query for small screen
@media only screen and (max-width: 576px){
  .faq-title{
    font-size: $h3-font-size;
  }
  .faq-subtitle{
    font-size: $h5-font-size;
  }
}

// Media query for medium screen
@media only screen and (max-width: 768px){
  .faq-search{
    .faq-search-width{
    /* search box responsive */
      width: 100% !important;
    }
  }
}

// Media query for image sizing for large screen
@media only screen and (min-width: 1024px){
  .faq-bg{
    padding: 5rem 0 !important;
  }
}
